.container {
    background-color: #272727;
    min-height: 100vh;
    width: 100%;
    color: #ffffff;
    padding: 1rem;
    overflow: hidden;
}
@media screen and (min-width: 600px) {
    .container {
        max-height: 100vh;
    }
}
.app {
    min-height: 100vh;
}
@media screen and (min-width: 600px) {
    .app {
        display: flex;
    }
}
